@charset "UTF-8";

.clr {
    clear: both;
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    margin-bottom: 20px;
    color: #fff;
}

header div {
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.body-container {
    padding-left: 20px;
    margin-bottom: 40px;
}

.body-container h1 {
    margin-bottom: 10px;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.search {
    margin-bottom: 30px;
}

.search input {
    border-color: #2c3e50;
    border-width: 2px;
    border-radius: 4px;
    width: 250px;
    padding: 5px;
}

.table {
    width: 80%;
}

.table th {
    text-align: left;
}

.table td {
    padding: 5px;
}

.table .odd {
    background-color: #f9f9f9;
}

.td-name {
    width: 65%;
}

.product-new-btn {
    margin-bottom: 20px;
}

#product div {
    margin-bottom: 15px;
}

.back-link {
    display: block;
    margin: 15px 0;
}

#product label{
    display: block;
    color: #2c3e50;
    margin-bottom: 3px;
}

#product input {
    border-color: #2c3e50;
    border-width: 2px;
    border-radius: 4px;
    width: 250px;
    padding: 5px;
}

footer {
    background-color: #ecf0f1;
    margin-top: 10px;
    padding: 10px 20px;
}

.footer-copyright {
    float: left;
}

.footer-author {
    float: right;
}